<section class="portfolio-section">
  <div class="carousel-container">
    <div id="carouselProjects" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselProjects" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="project-card">
            <a href="https://planetofsun.netlify.app/" class="text-decoration-none">
              <img src="assets/images/planets.png" class="project-image" alt="Planets Project">
              <div class="carousel-caption d-none d-md-block">
                <h5>Planets</h5>
                <p>Project about planets using basic web technologies.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="carousel-item">
          <div class="project-card">
            <a href="https://my-first-tic-tac-toe.netlify.app/" class="text-decoration-none">
              <img src="assets/images/tic-tac-toe.png" class="project-image" alt="Tic-tac-toe Project">
              <div class="carousel-caption d-none d-md-block">
                <h5>Tic-tac-toe Play</h5>
                <p>Designed and developed an interactive Tic-Tac-Toe game using React, featuring dynamic UI updates and state management.</p>
              </div>
            </a>
          </div>
        </div>

        <div class="carousel-item">
          <div class="project-card">
            <a href="https://gitlab.com/feridunakyol/the-big-bank-project" class="text-decoration-none">
              <img src="assets/images/bankApp.png" class="project-image" alt="Bank App Project">
              <div class="carousel-caption d-none d-md-block">
                <h5>The Bank App</h5>
                <p>Developed a bank application using Java, implementing user authentication, account management, and transaction tracking.</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselProjects" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselProjects" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="project-container">
    <div class="project-item">
      <a href="https://planetofsun.netlify.app/" class="text-decoration-none">
        <img src="assets/images/planets.png" alt="Planets Project">
        <div class="project-content">
          <h5>Planets</h5>
          <p>Project about planets using basic web technologies.</p>
        </div>
      </a>
    </div>

    <div class="project-item">
      <a href="https://my-first-tic-tac-toe.netlify.app/" class="text-decoration-none">
        <img src="assets/images/tic-tac-toe.png" alt="Tic-tac-toe Project">
        <div class="project-content">
          <h5>Tic-tac-toe Play</h5>
          <p>Designed and developed an interactive Tic-Tac-Toe game using React, featuring dynamic UI updates and state management.</p>
        </div>
      </a>
    </div>

    <div class="project-item">
      <a href="https://gitlab.com/feridunakyol/the-big-bank-project" class="text-decoration-none">
        <img src="assets/images/bankApp.png" alt="Bank App Project">
        <div class="project-content">
          <h5>The Bank App</h5>
          <p>Developed a bank application using Java, implementing user authentication, account management, and transaction tracking.</p>
        </div>
      </a>
    </div>
  </div>
</section>