<section id="education" class="bg-light m-5">
  <div class="container">
    <h2 class="text-center mb-5 animate__animated animate__fadeInUp">Education</h2>
    <div class="row">
      <div class="col-lg-6 mb-4 animate__animated animate__fadeInLeft">
        <div class="card h-100"><div class="card-body">
          <h5 class="card-title">Master in Mathematics</h5>
          <h6 class="card-subtitle mb-2 text-muted">University of Bogazici</h6>
          <p class="card-text">2006</p>
          <p>"Demonstrated strong analytical and problem-solving skills through my Bachelor's degree in Mathematics."</p>
        </div></div>
      </div>
      <div class="col-lg-6 mb-4 animate__animated animate__fadeInRight">
        <div class="card h-100"><div class="card-body">
          <h5 class="card-title">Full Stack java Development Training</h5>
          <h6 class="card-subtitle mb-2 text-muted">Multimedi</h6>
          <p class="card-text">2025</p>
          <p>Intensive training in JAVA and modern web technologies, frameworks.</p>
        </div></div>
      </div>
      <div class="col-lg-6 mb-4 animate__animated animate__fadeInRight">
        <div class="card h-100"><div class="card-body">
          <h5 class="card-title">Full Stack Web Development Training</h5>
          <h6 class="card-subtitle mb-2 text-muted">Hack your future training</h6>
          <p class="card-text">2020</p>
          <p>Intensive training in javascript and frameworks.</p>
        </div></div>
      </div>
      <div class="col-lg-6 mb-4 animate__animated animate__fadeInLeft">
        <div class="card h-100"><div class="card-body">
          <h5 class="card-title">Cybersecurity and Network Training</h5>
          <h6 class="card-subtitle mb-2 text-muted">VDAB via Thomas More High School</h6>
          <p class="card-text">2023</p>
          <p>System and Network Security Training</p>
        </div></div>
      </div>
    </div>
  </div>
</section>